
body {
	font-family: Arial, Helvetica, sans-serif;
}

table.simples {
	border-collapse: collapse;
	 width: 100%;
}

table.simples tr td, table.simples tr th {
	padding: 4px;
	border: 1px solid black;
		height: 40px;
	color: #336699;
	text-align: center;
}

table.simples tr th {
	font-weight: bold;
}

table.estatistica tr td {
	text-align: center;
}

table.estatistica tr td a{
	text-decoration: none;
	color: white;
}
table.estatistica tr td a:hover{
	
	color: black;
}

table.simples tr th {
	font-weight: bold;
}