@charset "UTF-8"

teste{

}
trTitulo,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
    align: center;
    bgcolor: red;
  }

div#interface
{
	width: 400px;
	background-color: #F8F8FF;
	margin:80px auto 10px auto;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 1);
	padding: 10px;

}

h1
{
	text-align: center;
	
}

img2 {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 10;
  -ms-interpolation-mode: bicubic;
}