<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


<h:head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico"></link>

	<!-- JS -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/validacao_email.js"></script>
	<script type="text/javascript" src="js/forum.js"></script>

	<!-- CSS -->
	<link href="bootstrap3/css/bootstrap.css" rel="stylesheet"></link>
	<link href="bootstrap3/css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/carousel.css" rel="stylesheet"></link>
	<link href="css/validacao_css.css" rel="stylesheet"></link>
	<link href="css/forum.css" rel="stylesheet"></link>
	<title>Novo Tópico</title>
</h:head>
<h:body>
	<div class="navbar-wrapper">
		<div class="container">

			<div class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
						<li><a href="index.xhtml">Home</a></li>
							<li><a href="forum.xhtml">Forum</a></li>
							<li><a href="Construcao.xhtml">Conheça o HTML 5</a></li>
							<li><a href="Contato.xhtml">Contato</a></li>
							<li><a href="CadastroUsuario.xhtml">Novo Cadastro</a></li>
							<c:if test="${UsuarioLogadoController.getEmail() != null}">
								<li><a href="UsuarioInformacoes.xhtml">Informações do Usuario</a></li>
							</c:if>
						</ul>
						<c:if test="${UsuarioLogadoController.getEmail() != null}">
							<ul>

								<li><h:outputText style="font-weight:bold" />
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown" onclick="location.href='login.xhtml'">
											<h:outputText value="#{UsuarioLogadoController.getEmail()}"
												style="font-weight:bold"></h:outputText>
											<span class="glyphicon glyphicon-user"></span> <span
												class="caret"></span>
										</button>
									</div></li>
							</ul>
						</c:if>
						<c:if test="${UsuarioLogadoController.getEmail() eq null}">
							<ul>

								<li><h:outputText style="font-weight:bold" />
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown" onclick="location.href='login.xhtml'">
											Login <span class="glyphicon glyphicon-user"></span> <span
												class="caret"></span>
										</button>
									</div></li>
							</ul>
						</c:if>

					</div>


				</div>
			</div>
		</div>

	</div>
	<center>
		<div>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br> <img src="imagens/email.jpg" width="40" height="40"></img>
			aleixojr@outlook.com <br></br> <img src="imagens/email.jpg"
				width="40" height="40"></img> joseneto.design@gmail.com <br></br> <img
				src="imagens/email.jpg" width="40" height="40"></img>
			paulovitornn@gmail.com <br></br> <img src="imagens/email.jpg"
				width="40" height="40"></img> raizza.si@gmail.com <br></br> <a
				href="http://www.facebook.com.br/forumhtml5"><img
				src="imagens/Cracked-Facebook-Logo.png" width="60" height="60"></img></a>
			<h5>curta nossa página no facebook</h5>
		</div>
	</center>
	<!-- FOOTER -->
	<footer>
	<p class="pull-right">
		<a href="#">Back to top</a>
	</p>
	<p>
		&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a
			href="#">Terms</a>
	</p>
	</footer>

</h:body>
</html>