<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >


<h:head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico"></link>

	<!-- JS -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/validacao_email.js"></script>
	<script type="text/javascript" src="js/forum.js"></script>

	<!-- CSS -->
	<link href="bootstrap3/css/bootstrap.css" rel="stylesheet"></link>
	<link href="bootstrap3/css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/carousel.css" rel="stylesheet"></link>
	<link href="css/validacao_css.css" rel="stylesheet"></link>
	<link href="css/forum.css" rel="stylesheet"></link>
	<title>Novo Tópico</title>
</h:head>
<h:body>
	<div class="navbar-wrapper">
		<div class="container">

			<div class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
						<li><a href="index.xhtml">Home</a></li>
							<li><a href="forum.xhtml">Forum</a></li>
							<li><a href="Construcao.xhtml">Conheça o HTML 5</a></li>
							<li><a href="Contato.xhtml">Contato</a></li>
							<li><a href="CadastroUsuario.xhtml">Novo Cadastro</a></li>
							<c:if test="${UsuarioLogadoController.getEmail() != null}">
								<li><a href="UsuarioInformacoes.xhtml">Informações do Usuario</a></li>
							</c:if>
						</ul>
						<c:if test="${UsuarioLogadoController.getEmail() != null}">
							<ul>

								<li><h:outputText style="font-weight:bold" />
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown" onclick="location.href='login.xhtml'">
											<h:outputText value="#{UsuarioLogadoController.getEmail()}"
												style="font-weight:bold"></h:outputText>
											<span class="glyphicon glyphicon-user"></span> <span
												class="caret"></span>
										</button>
									</div></li>
							</ul>
						</c:if>
						<c:if test="${UsuarioLogadoController.getEmail() eq null}">
							<ul>

								<li><h:outputText style="font-weight:bold" />
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown" onclick="location.href='login.xhtml'">
											Login
											<span class="glyphicon glyphicon-user"></span> <span
												class="caret"></span>
										</button>
									</div></li>
							</ul>
						</c:if>

					</div>


				</div>
			</div>
		</div>

	</div>

	<!-- Carousel
    ================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="imagens/forum_html5.png" alt="First slide"></img>
			</div>
		</div>
	</div>
	<!-- /.carousel -->
	<h2>
		<p align="center">Forum de HTML 5</p>
	</h2>
	<div id="forum">
		<div id="foruns_existentes">
			<h:form>
				<h:dataTable value="#{cadastroTopico.topicos}" var="topico"
					styleClass="simples" style="margin='10px;'">
					<h:column>
						<f:facet name="header">Codigo Topico</f:facet>#{topico.id_topico}</h:column>
					<h:column>
						<f:facet name="header">Usuário</f:facet>#{topico.nome_usuario}</h:column>
					<h:column>
						<f:facet name="header">Titulo</f:facet>#{topico.titulo}</h:column>
					<h:column>
						<f:facet name="header">Mensagem</f:facet>#{topico.mensagem}</h:column>
					<h:column>
						<f:facet name="header">Data de Criação</f:facet>#{topico.data}</h:column>
					<h:column>
						<f:facet name="header">Visualizar Comentários</f:facet>
						<h:commandLink action="#{cadastroComentario.redireciona(topico)}">Ver Comentários</h:commandLink>
					</h:column>
					
					<h:column>
					<f:facet name="header">Ação</f:facet>
						<h:commandLink action="#{cadastroTopico.excluir(topico)}">excluir</h:commandLink>
					</h:column>
					
					<h:button></h:button>
				</h:dataTable>
			</h:form>
		</div>
		<c:if test="${UsuarioLogadoController.getEmail() != null}">
		<div id="div_add">
			<button id="add_forum">
				<a href="cadastroTopicos.xhtml">Adicionar Fórum</a>
			</button>
			<br></br>
		</div>
		</c:if>
	</div>



	<!-- FOOTER -->
	<footer>
	<p class="pull-right">
		<a href="#">Back to top</a>
	</p>
	<p>
		&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a
			href="#">Terms</a>
	</p>
	</footer>

</h:body>
</html>