<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >


<h:head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico"></link>

	<!-- JS -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/validacao_email.js"></script>
	<script type="text/javascript" src="js/forum.js"></script>

	<!-- CSS -->
	<link href="bootstrap3/css/bootstrap.css" rel="stylesheet"></link>
	<link href="bootstrap3/css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/carousel.css" rel="stylesheet"></link>
	<link href="css/validacao_css.css" rel="stylesheet"></link>
	<link href="css/forum.css" rel="stylesheet"></link>
	<title>Novo Tópico</title>
</h:head>
<h:body>
	<div class="navbar-wrapper">
		<div class="container">

			<div class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
						<li><a href="index.xhtml">Home</a></li>
							<li><a href="forum.xhtml">Forum</a></li>
							<li><a href="Construcao.xhtml">Conheça o HTML 5</a></li>
							<li><a href="Contato.xhtml">Contato</a></li>
							<li><a href="CadastroUsuario.xhtml">Novo Cadastro</a></li>
							<c:if test="${UsuarioLogadoController.getEmail() != null}">
								<li><a href="UsuarioInformacoes.xhtml">Informações do Usuario</a></li>
							</c:if>
						</ul>
						<c:if test="${UsuarioLogadoController.getEmail() != null}">
							<ul>

								<li><h:outputText style="font-weight:bold" />
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown" onclick="location.href='login.xhtml'">
											<h:outputText value="#{UsuarioLogadoController.getEmail()}"
												style="font-weight:bold"></h:outputText>
											<span class="glyphicon glyphicon-user"></span> <span
												class="caret"></span>
										</button>
									</div></li>
							</ul>
						</c:if>
						<c:if test="${UsuarioLogadoController.getEmail() eq null}">
							<ul>

								<li><h:outputText style="font-weight:bold" />
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown" onclick="location.href='login.xhtml'">
											Login
											<span class="glyphicon glyphicon-user"></span> <span
												class="caret"></span>
										</button>
									</div></li>
							</ul>
						</c:if>

					</div>


				</div>
			</div>
		</div>

	</div>
	
	

	
		<!-- Carousel
    ================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="imagens/html5_slide.jpg" alt="First slide"></img>
				<div class="container">
					<div class="carousel-caption">
						<p>
							<br></br>
							<br></br>
							<a class="btn btn-lg btn-primary" href="Construcao.jsp"
								role="button">O que é HTML 5</a>
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="imagens/html-5_slide3.jpg" alt="Second slide"></img>
			</div>
			<div class="item">
				<img src="imagens/HTML5_slide2.png" alt="Third slide"></img>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
			class="glyphicon glyphicon-chevron-left"></span></a> <a
			class="right carousel-control" href="#myCarousel" data-slide="next"><span
			class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
	<!-- /.carousel -->



	<!-- Marketing messaging and featurettes
    ================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->



	<!-- START THE FEATURETTES -->

	<!-- <hr class="featurette-divider"> -->

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				HTML 5. <span class="text-muted">Estamos quase lá</span>
			</h2>
			<p class="lead">A tão sonhada Web Semântica  de Tim Berners-Lee 
			está no caminho de acontecer e o HTML 5 pode ajudar bastante.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				src="imagens/html.jpg" alt="Generic placeholder image"></img>
		</div>
	</div>


	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				src="imagens/css.jpg" alt="Generic placeholder image"></img>
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">
				CSS3. <span class="text-muted">A mais nova versão das famosas Cascading Style Sheets</span>
			</h2>
			<p class="lead">CSS3 facilitará o trabalho dos que trabalham com web e 
			também dos usuários, pela variedade de transformações na apresentação de um website.</p>
		</div>
	</div>


	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				JavaScript. <span class="text-muted">Imperativa e estruturada.</span>
			</h2>
			<p class="lead">JavaScript suporta os elementos de sintaxe de programação estruturada da linguagem C.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				src="imagens/js.jpg" alt="Generic placeholder image"></img>
		</div>
	</div>
	
	
	



	<!-- FOOTER -->
	<footer>
	<p class="pull-right">
		<a href="#">Back to top</a>
	</p>
	<p>
		&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a
			href="#">Terms</a>
	</p>
	</footer>

</h:body>
</html>