<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:o="http://openfaces.org/"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
<br/>
<h:head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico"></link>

	<!-- JS -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/validacao_email.js"></script>

	<!-- CSS -->
	<link href="bootstrap3/css/bootstrap.css" rel="stylesheet"></link>
	<link href="bootstrap3/css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/carousel.css" rel="stylesheet"></link>
	<link href="css/validacao_css.css" rel="stylesheet"></link>
	<title>Novo Tópico</title>
</h:head>
<h:body>
	<div class="navbar-wrapper">
		<div class="container">

			<div class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
						<li><a href="index.xhtml">Home</a></li>
							<li><a href="forum.xhtml">Forum</a></li>
							<li><a href="Construcao.xhtml">Conheça o HTML 5</a></li>
							<li><a href="Contato.xhtml">Contato</a></li>
							<li><a href="CadastroUsuario.xhtml">Novo Cadastro</a></li>
							<c:if test="${UsuarioLogadoController.getEmail() != null}">
								<li><a href="UsuarioInformacoes.xhtml">Informações do Usuario</a></li>
							</c:if>
						</ul>
						<c:if test="${UsuarioLogadoController.getEmail() != null}">
							<ul>

								<li><h:outputText style="font-weight:bold" />
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown" onclick="location.href='login.xhtml'">
											<h:outputText value="#{UsuarioLogadoController.getEmail()}"
												style="font-weight:bold"></h:outputText>
											<span class="glyphicon glyphicon-user"></span> <span
												class="caret"></span>
										</button>
									</div></li>
							</ul>
						</c:if>
						<c:if test="${UsuarioLogadoController.getEmail() eq null}">
							<ul>

								<li><h:outputText style="font-weight:bold" />
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown" onclick="location.href='login.xhtml'">
											Login
											<span class="glyphicon glyphicon-user"></span> <span
												class="caret"></span>
										</button>
									</div></li>
							</ul>
						</c:if>

					</div>


				</div>
			</div>
		</div>

	</div>
<c:if test="${UsuarioLogadoController.getEmail() == null}">
	<div class="container" align="center">
		<br /> <br /> <br /> <br /> <br />
		<h2>LOGIN</h2>
		<h:form>
			<table>
				<div class="input-group"></div>
				<tr>

					<tr>
						<td><span class="label label-info">E-Mail:</span> <!-- E-mail -->
							<h:inputText value="#{UsuarioLogadoController.user.email}"
								p:placeholder="E-mail" name="e-mail" class="form-control"
								id="email" onblur="checar()"></h:inputText></td>
					</tr>

					<tr>
						<td><span class="label label-info">Senha:</span> <!-- Senha -->
							<h:inputSecret value="#{UsuarioLogadoController.user.senha}"
								p:placeholder="Senha" name="senha" class="form-control"
								id="senha"></h:inputSecret></td>
					</tr>
				</tr>
			</table>
			<tr>
				<h:commandButton value="Logar"
					action="#{UsuarioLogadoController.fazerLogin}" />
				<button type="button" onclick="location.href='index.jsp'">Voltar</button>
			</tr>
		</h:form>

	</div>
	
	</c:if>
	
	
	<c:if test="${UsuarioLogadoController.getEmail() != null}">
	<div class="container" align="center">
		<br /> <br /> <br /> <br /> <br />
		<h2>Logout</h2>
		<h:form>
			<tr>
			
			<h:commandButton value="Logout"
					action="#{UsuarioLogadoController.logout()}" />
			</tr>
		</h:form>

	</div>
	
	</c:if>

	

</h:body>
</html>